<header id="masthead" class="site-header" role="banner">
		
		<div class="logo">
			<a href="http://www.chocolate-free.com/"><img class="c-header__logo" src="/assets/chocolate_free_logo.png" alt="Chocolate Free" nopin="nopin"></a>
		</div>
		
		<div class="socialnav">
			<p>
				<a href="#" target="blank" class="facebook">Facebook</a>
				<span>//</span>
				<a href="#" target="blank" class="instagram">Instagram</a>
				<span>//</span>
				<a href="#" target="blank" class="pinterest">Pinterest</a>
			</p>
		</div>
		<nav class="c-nav">
			<ul class="c-nav__list"> 
				<li><a href="/index.html">Home</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</nav>
</header>
