<!doctype html>
<html lang="en" prefix="op: http://media.facebook.com/op#">
	<head>
		<meta charset="utf-8">
		<title>{{ data.fields.title }}</title>
    <meta property="fb:pages" content="182110772226120" />
    <link rel="canonical" href="http://chocolate-free.com/{{_fileName}}">
    <meta property="fb:article_style" content="Chocolate-free-instant-article">
		<meta name="description" content="Chocolate free is a culinary diary of a chocoholic, sweet tooth young lady trying to re-create new sweet fruity and chocolaty version of some classic, or not, deserts.">
		<meta name="author" content="Amal Nasri">
		<meta name="p:domain_verify" content="bfdc5a3211578236b01ad516ea662d6b"/>
		<link rel="stylesheet" href="/style/main.css?v=1.0">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
