<header id="masthead" class="site-header" role="banner">
	<div class="socialnav">
		<p>
		<a href="https://www.facebook.com/Chocolatefree-182110772226120/" rel="noopener" target="blank" class="facebook">Facebook</a>
		<span>//</span>
		<a href="https://www.instagram.com/amalnasri/" rel="noopener" target="blank" class="instagram">Instagram</a>
		<span>//</span>
		<a href="https://www.pinterest.com/chocolate_free/" target="blank" rel="noopener" class="pinterest">Pinterest</a>
		</p>
	</div>

	<div class="logo">
		<a href="http://www.chocolate-free.com/"><img class="c-header__logo" src="/assets/chocolate_free_logo.png" alt="Chocolate Free" nopin="nopin"></a>
	</div>

	<nav class="c-nav">
		<ul class="c-nav__list"> 
			<li><a href="/index.html">Home</a></li>
			<li><a href="/about.html">About</a></li>
			<li><a href="/hors-sujet.html">Hors sujet</a></li>
		</ul>
	</nav>

</header>
