.article {
 max-width: 800px; 
 margin: 0 auto;
}

.article__header {

}

.article__headline {

}

.article__headline a {
  text-decoration: none;
  color: #130216;
}

.article__headline a:hover {
  color: #f96;
}

.article__date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

