.article {
 max-width: 800px; 
 margin: 0 auto;
}

.article__header {

}

.article__headline {

}

.article__headline a {
  text-decoration: none;
  font-family: 'butler_stencillight';
  color: #130216;
}

.article__headline a:hover {
  color: #f96;
}

.article__date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.c-article__authorSumUp {
    margin: 2em 0;
    padding: 2em 0;
    border-top: 1px solid #ddd;
}

.c-article__authorName {
    font-size: 1.25em;
}

.c-article__authorImage>img {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%,-50%);
}
.c-article__authorImage {
    position: relative;
    width: 6em;
    height: 6em;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 1em;
    flex-shrink: 0;
}
.c-article__author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
