@font-face {
  font-family: 'cinzel';
  src: url('../fonts/cinzel/Cinzel-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'butler_stencillight';
  src: url('../fonts/Butler_Stencil_Webfont/butler_light_stencil-webfont.woff2') format('woff2'),
  url('../fonts/Butler_Stencil_Webfont/butler_light_stencil-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
