/* Navigation Menu */
.main-navigation {
    position: fixed;
    background: #ffffff;
    border-top: 5px solid #130216;
    border-bottom: 1px solid #eaeaea;
    z-index: 999999999999;
    min-width: 200px;
    margin: 0 auto 0px auto;
    width: 100%;
    line-height: 2;
    text-align: center;
    height: 70px;
}

.main-navigation ul li {
  display: inline-block;
  margin: 0 20px;
}

.main-navigation li a {
    border-bottom: 0;
    color: #130216;
    line-height: 5.5;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    background: transparent;
}

