@import "variables";
@import "base";
@import "print";
@import "components/article";
@import "components/footer";
@import "components/nav";
@import "components/content";
@import "components/featuredPosts";
@import "components/header";
@import "components/sidebar";

.grid {
  display: grid;
  grid-template-columns: 20px 1fr 30% 20px;
  grid-template-areas: 
  ". header header . "
  ". featured-posts featured-posts . "
  ". content side-bar .";
  min-height: 100vh;
  @media screen and (max-width: $break-large) {
    grid-template-areas: 
    ". header header . "
    ". featured-posts featured-posts . "
    ". side-bar side-bar ."
    ". content content .";
  }
}
main {
  padding-top: 150px;
}

h1, h2, h3, h4 {
  font-family: '-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','sans-serif';
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.content-module {
  border-bottom: 1px solid #eaeaea;
}

