@import "variables";
@import "base";
@import "print";
@import "components/article";
@import "components/footer";
@import "components/nav";
@import "components/content";
@import "components/featuredPosts";
@import "components/header";
@import "components/sidebar";

.grid {
  display: grid;
  grid-template-columns: 100px 1fr 30% 100px;
  grid-template-areas: 
  ". header header . "
  ". featured-posts featured-posts . "
  ". content side-bar .";
  min-height: 100vh;
}
main {
  padding-top: 150px;
}
