<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
    <meta property="fb:pages" content="182110772226120" />
		<meta name="description" content="Chocolate free is a culinary diary of a chocoholic, sweet tooth young lady trying to re-create new sweet fruity and chocolaty version of some classic, or not, deserts.">
		<meta name="author" content="Amal Nasri">
		<meta name="p:domain_verify" content="bfdc5a3211578236b01ad516ea662d6b"/>
		<link rel="stylesheet" href="/style/main.css?v=1.0">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
	<body>
		<main class="l-container">
		{{> header}}
		<ul class="c-paddedList">
			{{#each data.entries}}
			<li>
				<div class="c-article c-card u-marginBottomLarge">
					{{> articleHeader fields  _fileName=_fileName }}

					{{#if fields.featureImage}}
					<img alt="feature Image" src="{{fields.featureImage.fields.file.url}}?w=800"/>
					{{/if}}
					<p data-markdown>{{ shorten fields.content }}</p>
					<a rel="noopener" href="{{ _fileName }}">Read more...</a>
				</div>
			</li>
			{{/each}}
		</ul>
		</main>
		{{> footer}}
	</body>
</html>
