<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}">
		<meta name="author" content="Contentful">
		<link rel="stylesheet" href="/style/main.css?v=1.0">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
	<body>
		<main class="l-container">
		{{> header}}
		<p>
		<a href="/{{ _parentFileName }}">Go back</a>
		</p>
		<article class="c-article">
			{{> articleHeader data.fields _fileName=_fileName }}
			<div data-markdown>{{ data.fields.content}}</div>
      <a href="//yummly.com" class="YUMMLY-YUM-BUTTON">Yum</a>

			{{> articleAuthor data.fields.author }}
		</article>
		</main>
		{{> footer}}
	</body>
    <script async src="https://www.yummly.com/js/widget.js?general"></script>
</html>
