{{> head}}	
<body>
		<main class="l-container">
		{{> header}}
		<p>
		<a href="/{{ _parentFileName }}">Go back</a>
		</p>
		<article class="c-article">
			{{> articleHeader data.fields _fileName=_fileName }}
			<div data-markdown>{{ data.fields.content}}</div>
      <a href="//yummly.com" class="YUMMLY-YUM-BUTTON">Yum</a>

			{{> articleAuthor data.fields.author }}
		</article>
		<!-- disqus comments -->
		<div id="disqus_thread"></div>
			<script>
			(function() {
			var d = document, s = d.createElement('script');
			s.src = '//chocolate-free.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<script>
				var disqus_config = function () {
					this.page.url = 'https://chocolate-free.com/{{_fileName}}' 
					this.page.identifier = '{{_fileName}}'
				}
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</main>
		{{> footer}}
	</body>
    <script async src="https://www.yummly.com/js/widget.js?general"></script>
</html>
