{{> head}}	
<body>
		<main class="l-container">
		{{> header}}
		<article class="c-article">
			{{> articleHeader data.fields _fileName=_fileName }}					
		<div data-markdown>{{ data.fields.content}}</div>
			
		{{> articleAuthor data.fields.author }}
		<!-- AddToAny BEGIN -->
		<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
		<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
		<a class="a2a_button_facebook"></a>
		<a class="a2a_button_twitter"></a>
		<a class="a2a_button_google_plus"></a>
		<a class="a2a_button_pinterest"></a>
		<a class="a2a_button_reddit"></a>
		<a class="a2a_button_stumbleupon"></a>
		<a class="a2a_button_print"></a>
		<a class="a2a_button_yummly"></a>
		</div>
		<script async src="https://static.addtoany.com/menu/page.js"></script>
		<!-- AddToAny END -->
		</article>
		<!-- disqus comments -->
		<div id="disqus_thread"></div>
			<script>
			(function() {
			var d = document, s = d.createElement('script');
			s.src = '//chocolate-free.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<script>
				var disqus_config = function () {
					this.page.url = 'https://chocolate-free.com/{{_fileName}}' 
					this.page.identifier = '{{_fileName}}'
				}
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</main>
		{{> footer}}
	</body>
</html>
