@media print {
  #disqus_thread {
    display: none;
  }
  .l-container .c-article img {
    display: none !important;
  }
  .c-article__author img {
    display: block !important;
  }
  .socialnav, .go-back-link, .c-nav {
    display: none !important;
  }
  .c-article__author {
    display: none !important;
  }
}